<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Defect report</title>
    </head>
    <body>
        <div class="page {{#if (eq defectType "CRITICAL")}}critical{{/if}}">
            <!-- Logo + Title + QrCode -->
            <div class="d-flex mb-20" style="justify-content: space-between; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 341 92" fill="none">
                    <path d="M77.5439 91.1313C77.1266 91.1313 76.782 90.7912 76.7683 90.3739C76.7366 89.451 76.5892 88.1721 76.782 87.8342C77.1539 87.1834 78.977 87.2333 78.9793 85.9929L78.9725 13.4671C78.9725 12.5532 79.3875 11.6938 80.0904 11.1133C80.095 11.1087 80.0995 11.1065 80.104 11.1019C83.5282 8.26058 89.009 4.54846 92.8073 2.07901C94.1611 1.19917 95.4242 0.112966 96.7077 0.779651C97.3789 1.12887 97.7644 1.85905 97.7666 2.61644L97.8936 73.8905C97.8959 75.5459 97.9957 77.2035 98.2519 78.8407C98.4787 80.2807 98.8256 81.7002 99.5241 82.9724C101.488 86.553 105.898 87.3376 109.706 87.4872C110.121 87.5031 110.447 87.8455 110.447 88.2605V90.3535C110.447 90.7821 110.098 91.1291 109.672 91.1291H77.5439V91.1313Z" fill="#3E4095"/>
                    <path d="M33.128 91.1313C33.5452 91.1313 33.8899 90.7912 33.9035 90.3739C33.9353 89.451 34.0827 88.1721 33.8899 87.8342C33.518 87.1834 31.6948 87.2333 31.6926 85.9929L31.6994 13.4671C31.6994 12.5532 31.2844 11.6938 30.5814 11.1133C30.5769 11.1087 30.5724 11.1065 30.5678 11.1019C27.1437 8.26058 21.6628 4.54846 17.8645 2.07901C16.5107 1.19917 15.2477 0.112966 13.9642 0.779651C13.293 1.12887 12.9075 1.85905 12.9052 2.61644L12.7782 73.8905C12.776 75.5459 12.6762 77.2035 12.4199 78.8407C12.1932 80.2807 11.8462 81.7002 11.1478 82.9724C9.18402 86.553 4.77346 87.3376 0.966103 87.4872C0.551126 87.5031 0.224609 87.8455 0.224609 88.2605V90.3535C0.224609 90.7821 0.573808 91.1291 1.00012 91.1291H33.128V91.1313Z" fill="#3E4095"/>
                    <path d="M73.3646 36.133V51.8704C73.3646 52.6096 72.961 53.2899 72.3147 53.6459L56.3075 62.4217C55.702 62.755 54.9673 62.755 54.3619 62.4217L38.3546 53.6459C37.7061 53.2899 37.3047 52.6096 37.3047 51.8704V36.133C37.3047 34.5479 39.0462 33.5773 40.3955 34.4118L54.2689 43.0107C54.922 43.4166 55.7474 43.4166 56.4005 43.0107L70.2738 34.4118C71.6231 33.5773 73.3646 34.5456 73.3646 36.133Z" fill="#D1AE6C"/>
                    <path d="M139.849 13.5176L148.938 24.4287L158.027 13.5176H162.797V41.177H157.449V21.7547H157.294L149.294 31.4955H148.538L140.538 21.7547H140.382V41.177H135.034V13.5176H139.849Z" fill="#3E4095"/>
                    <path d="M173.028 13.5176V29.614C173.028 31.2658 173.272 32.5769 173.768 33.5547C174.265 34.5325 175.072 35.3399 176.191 35.9696C177.309 36.5992 178.62 36.9177 180.109 36.9177C181.746 36.9177 183.139 36.614 184.28 36.014C185.42 35.414 186.257 34.5992 186.783 33.5621C187.309 32.5251 187.576 31.0881 187.576 29.2584V13.5176H192.924V29.9473C192.924 33.6733 191.806 36.5326 189.576 38.5326C187.346 40.5326 184.191 41.5326 180.109 41.5326C177.546 41.5326 175.331 41.0733 173.45 40.1696C171.568 39.2585 170.131 37.94 169.146 36.2214C168.154 34.4955 167.657 32.4733 167.657 30.1547V13.525H173.02L173.028 13.5176Z" fill="#3E4095"/>
                    <path d="M207.769 13.5176C210.369 13.5176 212.488 14.2361 214.125 15.6731C215.762 17.1102 216.577 18.9843 216.577 21.2954C216.577 22.8658 216.169 24.2362 215.362 25.4065C214.547 26.5769 213.347 27.4954 211.747 28.1695C212.628 28.6436 213.414 29.2881 214.102 30.1103C214.791 30.9251 215.643 32.3103 216.658 34.251C218.347 37.6066 219.599 39.9103 220.421 41.1844H214.458C214.051 40.577 213.495 39.6066 212.799 38.2733C211.265 35.3325 210.147 33.3473 209.436 32.3251C208.725 31.3029 208.036 30.577 207.376 30.1473C206.717 29.7177 205.954 29.5029 205.102 29.5029H203.162V41.1844H197.813V13.525H207.776L207.769 13.5176ZM206.562 25.3176C207.962 25.3176 209.058 24.9695 209.858 24.2658C210.658 23.5621 211.058 22.6065 211.058 21.3917C211.058 20.1769 210.665 19.1769 209.873 18.5472C209.08 17.9176 207.954 17.6065 206.488 17.6065H203.162V25.3102H206.569L206.562 25.3176Z" fill="#3E4095"/>
                    <path d="M236.932 13.5176L249.147 41.177H243.502L240.628 34.4436H228.332L225.658 41.177H220.058L231.465 13.5176H236.932ZM229.961 30.3844H238.895L234.221 19.4361L229.961 30.3844Z" fill="#3E4095"/>
                    <path d="M262.962 13.5176C265.836 13.5176 268.399 14.1028 270.644 15.2806C272.888 16.4583 274.629 18.1028 275.873 20.2287C277.118 22.3547 277.733 24.7399 277.733 27.3917C277.733 30.0436 277.11 32.4955 275.859 34.5918C274.614 36.6881 272.836 38.3029 270.54 39.4511C268.244 40.5992 265.607 41.177 262.644 41.177H251.377V13.5176H262.962ZM262.414 36.9992C265.37 36.9992 267.74 36.1103 269.533 34.3399C271.318 32.5621 272.214 30.2362 272.214 27.3621C272.214 24.488 271.31 22.0214 269.51 20.2954C267.71 18.5695 265.281 17.7028 262.236 17.7028H256.733V37.0066H262.414V36.9992Z" fill="#3E4095"/>
                    <path d="M145.175 50.1709C147.708 50.1709 149.775 50.8301 151.375 52.1487C152.975 53.4672 153.768 55.1191 153.768 57.0968C153.768 58.3635 153.434 59.4821 152.768 60.445C152.101 61.408 151.138 62.171 149.864 62.7413V62.9784C151.79 63.4154 153.294 64.2747 154.368 65.5636C155.442 66.8525 155.982 68.3562 155.982 70.0896C155.982 71.6229 155.59 72.9933 154.805 74.2007C154.02 75.4081 152.931 76.3192 151.538 76.9266C150.145 77.534 148.501 77.8377 146.619 77.8377H135.034V50.1783H145.175V50.1709ZM143.745 61.6525C145.16 61.6525 146.271 61.3117 147.094 60.6451C147.908 59.971 148.323 59.0376 148.323 57.8376C148.323 56.7709 147.945 55.9191 147.197 55.2968C146.442 54.6672 145.456 54.3561 144.227 54.3561H140.382V61.6599H143.745V61.6525ZM144.997 73.6525C146.805 73.6525 148.175 73.3118 149.094 72.6303C150.019 71.9488 150.479 70.9488 150.479 69.6303C150.479 68.4525 150.019 67.5266 149.101 66.8451C148.182 66.1636 146.953 65.8229 145.405 65.8229H140.375V73.6451H144.99L144.997 73.6525Z" fill="#3E4095"/>
                    <path d="M164.636 50.1709V66.2673C164.636 67.9191 164.88 69.2303 165.377 70.2081C165.873 71.1858 166.68 71.9933 167.799 72.6229C168.917 73.2525 170.229 73.5711 171.718 73.5711C173.355 73.5711 174.747 73.2673 175.888 72.6673C177.029 72.0673 177.866 71.2525 178.392 70.2155C178.918 69.1784 179.184 67.7414 179.184 65.9117V50.1709H184.532V66.6006C184.532 70.3266 183.414 73.1859 181.184 75.1859C178.955 77.1859 175.799 78.1859 171.718 78.1859C169.155 78.1859 166.94 77.7266 165.058 76.8229C163.177 75.9118 161.74 74.5933 160.754 72.8748C159.762 71.1488 159.266 69.1266 159.266 66.8081V50.1783H164.629L164.636 50.1709Z" fill="#3E4095"/>
                    <path d="M194.888 50.1709V77.8304H189.54V50.1709H194.888Z" fill="#3E4095"/>
                    <path d="M205.437 50.1709V73.6525H218.859V77.8304H200.089V50.1709H205.437Z" fill="#3E4095"/>
                    <path d="M233.089 50.1709C235.963 50.1709 238.526 50.7561 240.771 51.9339C243.015 53.1117 244.756 54.7561 246 56.882C247.245 59.008 247.86 61.3932 247.86 64.045C247.86 66.6969 247.237 69.1488 245.986 71.2451C244.741 73.3414 242.963 74.9562 240.667 76.1044C238.371 77.2526 235.734 77.8304 232.771 77.8304H221.504V50.1709H233.089ZM232.534 73.6525C235.489 73.6525 237.86 72.7636 239.652 70.9932C241.437 69.2155 242.334 66.8895 242.334 64.0154C242.334 61.1413 241.43 58.6747 239.63 56.9487C237.83 55.2228 235.4 54.3561 232.356 54.3561H226.852V73.66H232.534V73.6525Z" fill="#3E4095"/>
                    <path d="M257.303 50.1709V77.8304H251.955V50.1709H257.303Z" fill="#3E4095"/>
                    <path d="M267.199 50.1709L283.636 69.4747V50.1709H288.865V77.8304H284.273L267.739 58.208V77.8304H262.51V50.1709H267.199Z" fill="#3E4095"/>
                    <path d="M308.436 49.8066C311.843 49.8066 315.221 50.5696 318.569 52.0807V56.9696C315.214 55.2659 311.917 54.4141 308.673 54.4141C306.651 54.4141 304.858 54.8141 303.288 55.6215C301.717 56.4289 300.502 57.5845 299.636 59.0956C298.769 60.6067 298.339 62.2956 298.339 64.1549C298.339 66.9771 299.28 69.2512 301.162 70.9772C303.043 72.7031 305.517 73.5623 308.599 73.5623C309.443 73.5623 310.251 73.4882 311.021 73.3475C311.791 73.1994 312.717 72.9253 313.784 72.5179V67.9252H309.214V63.7475H319.132V75.1549C317.769 76.1031 316.14 76.8512 314.228 77.3846C312.325 77.9179 310.34 78.1846 308.28 78.1846C305.362 78.1846 302.717 77.5846 300.347 76.3846C297.977 75.1846 296.132 73.5031 294.806 71.3327C293.48 69.1697 292.813 66.7549 292.813 64.0882C292.813 61.4215 293.48 58.9326 294.821 56.74C296.162 54.5474 298.028 52.8437 300.421 51.6288C302.814 50.414 305.488 49.8066 308.428 49.8066H308.436Z" fill="#3E4095"/>
                    <path d="M331.836 49.8066C334.532 49.8066 337.125 50.4807 339.614 51.8289V56.5844C336.747 54.8585 334.206 53.9918 331.991 53.9918C330.643 53.9918 329.591 54.2511 328.836 54.7696C328.073 55.2882 327.695 55.9844 327.695 56.8585C327.695 57.903 328.399 58.8659 329.813 59.7474C330.206 60.0141 331.732 60.7474 334.384 61.9697C336.658 63.0363 338.288 64.2289 339.295 65.5326C340.295 66.8364 340.799 68.4067 340.799 70.2438C340.799 72.6216 339.947 74.5401 338.236 75.9994C336.525 77.4587 334.31 78.1846 331.591 78.1846C329.821 78.1846 328.302 77.992 327.028 77.5994C325.754 77.2068 324.325 76.5401 322.739 75.592V70.3253C325.695 72.7772 328.48 74.0068 331.095 74.0068C332.399 74.0068 333.458 73.7253 334.265 73.1549C335.073 72.5845 335.473 71.8364 335.473 70.8956C335.473 69.6141 334.769 68.5697 333.376 67.7697C332.213 67.1327 330.717 66.3771 328.88 65.4956C326.702 64.503 325.073 63.3475 323.999 62.0289C322.924 60.7104 322.384 59.1771 322.384 57.4363C322.384 55.1104 323.25 53.2659 324.976 51.8807C326.702 50.5029 328.991 49.8141 331.828 49.8141L331.836 49.8066Z" fill="#3E4095"/>
                </svg>

                <h2 style="text-align: center">
                    ОТЧЁТ ОТДЕЛА ТЕХНИЧЕСКОГО НАДЗОРА ПО ОБЪЕКТУ {{projectName}}
                </h2>

                <div class="qr__code">
                    <img src="{{qrCode}}" alt="QR Code" width="100%" height="100%" />
                </div>
            </div>

            <!-- ID + Process + Status -->
            <div class="d-flex mb-10">
                <!-- CARD 1: ID + Status -->
                <div class="w-33">
                    <div class="card card__bordered" style="justify-content: space-between;">
                        <div class="card__title fs-13">
                            Информация о замечании ID: {{id}}
                        </div>
                        {{#if (eq status "NEW")}}
                            <div class="status status-new">Новый</div>
                        {{else}}
                            {{#if (eq status "READ")}}
                                <div class="status status-read">Прочитано</div>
                            {{else}}
                                {{#if (eq status "IN_PROGRESS")}}
                                    <div class="status status-in-progress">В процессе</div>
                                {{else}}
                                    {{#if (eq status "IN_REVIEW")}}
                                        <div class="status status-in-review">Проверка</div>
                                    {{else}}
                                        {{#if (eq status "NOT_FIXED")}}
                                            <div class="status status-not-fixed">Не устранено</div>
                                        {{else}}
                                            {{#if (eq status "FIXED")}}
                                                <div class="status status-fixed">Устранено</div>
                                            {{else}}
                                                {{#if (eq status "IN_CORRECT")}}
                                                    <div class="status status-in-correct">Ошибка</div>
                                                {{else}}
                                                    {{#if (eq status "DELETED")}}
                                                        <div class="status status-deleted">Архив</div>
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>

                <!-- CARD 2: Process Card -->
                <div class="w-33">
                    <div class="card card__bordered">
                        <div class="card__title fs-10">На какой стадии находится замечание</div>
                        {{#with (defectProcessData status) as |process|}}
                            {{> defect-process options=process.options step=process.step isFailed=process.isFailed}}
                        {{/with}}
                    </div>
                </div>

                <!-- CARD 3: Status Card -->
                <div class="w-33">
                    <div
                        class="card {{#if (eq this.status "NEW")}}card--new{{else}}{{#if (eq this.status "READ")}}card--read{{else}}{{#if (eq this.status "IN_PROGRESS")}}card--in-progress{{else}}{{#if (eq this.status "IN_REVIEW")}}card--in-review{{else}}{{#if (eq this.status "NOT_FIXED")}}card--not-fixed{{else}}{{#if (eq this.status "FIXED")}}card--fixed{{else}}{{#if (eq this.status "IN_CORRECT")}}card--in-correct{{else}}{{#if (eq this.status "DELETED")}}card--deleted{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}"
                        style="display: flex; align-items: center; column-gap: 8px;"
                    >
                        <div class="layer one">
                            <div class="layer second">
                                <div class="layer third">
                                    <div class="layer fourth">
                                        {{#if (eq status "NEW")}}
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                        d="M16.6226 4.87106L15.9111 5.10823L15.9111 5.10823L16.6226 4.87106ZM15.9539 5.23652C16.0848 5.62948 16.5096 5.84185 16.9025 5.71086C17.2955 5.57987 17.5079 5.15513 17.3769 4.76218L16.6654 4.99935L15.9539 5.23652ZM13.5692 0.954503C13.1762 0.823517 12.7515 1.03589 12.6205 1.42884C12.4895 1.8218 12.7019 2.24654 13.0949 2.37753L13.332 1.66602L13.5692 0.954503ZM13.4603 1.70878L13.2232 2.42029V2.42029L13.4603 1.70878ZM3.71161 12.3994L3.14004 11.9138H3.14004L3.71161 12.3994ZM4.44433 10.6981L3.6991 10.6137L4.44433 10.6981ZM15.5531 10.6981L16.2983 10.6137L15.5531 10.6981ZM16.2858 12.3994L16.8574 11.9138L16.2858 12.3994ZM15.2657 8.16105L14.5204 8.24547V8.24547L15.2657 8.16105ZM4.73173 8.16105L5.47696 8.24547L4.73173 8.16105ZM13.201 16.9292C13.3464 16.5414 13.1498 16.1091 12.7619 15.9637C12.374 15.8184 11.9418 16.0149 11.7964 16.4028L12.4987 16.666L13.201 16.9292ZM8.201 16.4028C8.05563 16.0149 7.62336 15.8184 7.23549 15.9637C6.84763 16.1091 6.65104 16.5414 6.7964 16.9292L7.4987 16.666L8.201 16.4028ZM3.3748 4.87106L4.08631 5.10823L4.08631 5.10823L3.3748 4.87106ZM2.62052 4.76218C2.48953 5.15513 2.7019 5.57988 3.09486 5.71086C3.48782 5.84185 3.91256 5.62948 4.04354 5.23652L3.33203 4.99935L2.62052 4.76218ZM6.90254 2.37753C7.29549 2.24654 7.50786 1.8218 7.37688 1.42884C7.24589 1.03589 6.82115 0.823517 6.42819 0.954503L6.66536 1.66602L6.90254 2.37753ZM6.53707 1.70878L6.2999 0.997267H6.2999L6.53707 1.70878ZM16.6226 4.87106L15.9111 5.10823L15.9539 5.23652L16.6654 4.99935L17.3769 4.76218L17.3341 4.63388L16.6226 4.87106ZM13.332 1.66602L13.0949 2.37753L13.2232 2.42029L13.4603 1.70878L13.6975 0.997267L13.5692 0.954503L13.332 1.66602ZM16.6226 4.87106L17.3341 4.63389C16.7618 2.91691 15.4145 1.56959 13.6975 0.997267L13.4603 1.70878L13.2232 2.42029C14.4922 2.84332 15.4881 3.83916 15.9111 5.10823L16.6226 4.87106ZM15.1403 14.9993V14.2493H4.85714V14.9993V15.7493H15.1403V14.9993ZM15.2657 8.16105L14.5204 8.24547L14.8078 10.7825L15.5531 10.6981L16.2983 10.6137L16.0109 8.07662L15.2657 8.16105ZM4.44433 10.6981L5.18956 10.7825L5.47696 8.24547L4.73173 8.16105L3.98649 8.07662L3.6991 10.6137L4.44433 10.6981ZM3.71161 12.3994L4.28318 12.885C4.78668 12.2924 5.1016 11.559 5.18956 10.7825L4.44433 10.6981L3.6991 10.6137C3.64423 11.098 3.44816 11.5511 3.14004 11.9138L3.71161 12.3994ZM15.5531 10.6981L14.8078 10.7825C14.8958 11.559 15.2107 12.2924 15.7142 12.885L16.2858 12.3994L16.8574 11.9138C16.5492 11.5511 16.3532 11.098 16.2983 10.6137L15.5531 10.6981ZM4.85714 14.9993V14.2493C4.23191 14.2493 3.80761 13.4447 4.28318 12.885L3.71161 12.3994L3.14004 11.9138C1.89326 13.3813 2.86684 15.7493 4.85714 15.7493V14.9993ZM15.1403 14.9993V15.7493C17.1306 15.7493 18.1041 13.3813 16.8574 11.9138L16.2858 12.3994L15.7142 12.885C16.1898 13.4447 15.7655 14.2493 15.1403 14.2493V14.9993ZM15.2657 8.16105L16.0109 8.07662C15.6581 4.96227 13.0884 2.58268 9.9987 2.58268V3.33268V4.08268C12.2908 4.08268 14.2496 5.85452 14.5204 8.24547L15.2657 8.16105ZM4.73173 8.16105L5.47696 8.24547C5.74781 5.85452 7.70664 4.08268 9.9987 4.08268V3.33268V2.58268C6.90899 2.58268 4.33929 4.96227 3.98649 8.07662L4.73173 8.16105ZM12.4987 16.666L11.7964 16.4028C11.5465 17.0697 10.8524 17.5827 9.9987 17.5827V18.3327V19.0827C11.4533 19.0827 12.7231 18.2043 13.201 16.9292L12.4987 16.666ZM9.9987 18.3327V17.5827C9.14495 17.5827 8.45093 17.0697 8.201 16.4028L7.4987 16.666L6.7964 16.9292C7.27427 18.2043 8.54406 19.0827 9.9987 19.0827V18.3327ZM3.3748 4.87106L2.66328 4.63389L2.62052 4.76218L3.33203 4.99935L4.04354 5.23652L4.08631 5.10823L3.3748 4.87106ZM6.66536 1.66602L6.42819 0.954503L6.2999 0.997267L6.53707 1.70878L6.77424 2.42029L6.90254 2.37753L6.66536 1.66602ZM3.3748 4.87106L4.08631 5.10823C4.50933 3.83916 5.50517 2.84332 6.77424 2.42029L6.53707 1.70878L6.2999 0.997267C4.58292 1.56959 3.23561 2.91691 2.66328 4.63389L3.3748 4.87106Z"
                                                        fill="currentColor"
                                                />
                                            </svg>
                                        {{else}}
                                            {{#if (eq status "READ")}}
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M1.66797 10.8334L4.60665 13.1843C5.29608 13.7359 6.29601 13.6541 6.88664 12.9978L13.3346 5.83337M6.66797 10.8334L9.60666 13.1843C10.2961 13.7359 11.296 13.6541 11.8866 12.9978L18.3346 5.83337"
                                                            stroke="currentColor"
                                                            stroke-width="1.5"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                    />
                                                </svg>
                                            {{else}}
                                                {{#if (eq status "IN_PROGRESS")}}
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.6657 3.33268C11.6657 4.25316 10.9195 4.99935 9.999 4.99935C9.07853 4.99935 8.33234 4.25316 8.33234 3.33268C8.33234 2.41221 9.07853 1.66602 9.999 1.66602C10.9195 1.66602 11.6657 2.41221 11.6657 3.33268Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M11.6657 16.666C11.6657 17.5865 10.9195 18.3327 9.999 18.3327C9.07853 18.3327 8.33234 17.5865 8.33234 16.666C8.33234 15.7455 9.07853 14.9993 9.999 14.9993C10.9195 14.9993 11.6657 15.7455 11.6657 16.666Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M16.6059 8.10939C15.8087 8.56962 14.7894 8.2965 14.3291 7.49935C13.8689 6.70219 14.142 5.68287 14.9392 5.22264C15.7363 4.7624 16.7557 5.03552 17.2159 5.83268C17.6761 6.62983 17.403 7.64915 16.6059 8.10939Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M5.05887 14.7761C4.26172 15.2363 3.2424 14.9632 2.78216 14.166C2.32193 13.3689 2.59505 12.3495 3.39221 11.8893C4.18936 11.4291 5.20868 11.7022 5.66891 12.4993C6.12915 13.2965 5.85603 14.3158 5.05887 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M14.9392 14.7761C14.142 14.3158 13.8689 13.2965 14.3291 12.4993C14.7894 11.7022 15.8087 11.4291 16.6059 11.8893C17.403 12.3495 17.6761 13.3689 17.2159 14.166C16.7557 14.9632 15.7363 15.2363 14.9392 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                        <path d="M3.39221 8.10941C2.59505 7.64918 2.32193 6.62986 2.78216 5.8327C3.2424 5.03555 4.26172 4.76242 5.05887 5.22266C5.85603 5.6829 6.12915 6.70222 5.66891 7.49937C5.20868 8.29653 4.18936 8.56965 3.39221 8.10941Z" stroke="white" stroke-width="1.5"/>
                                                    </svg>
                                                {{else}}
                                                    {{#if (eq status "IN_REVIEW")}}
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M11.6657 3.33268C11.6657 4.25316 10.9195 4.99935 9.999 4.99935C9.07853 4.99935 8.33234 4.25316 8.33234 3.33268C8.33234 2.41221 9.07853 1.66602 9.999 1.66602C10.9195 1.66602 11.6657 2.41221 11.6657 3.33268Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M11.6657 16.666C11.6657 17.5865 10.9195 18.3327 9.999 18.3327C9.07853 18.3327 8.33234 17.5865 8.33234 16.666C8.33234 15.7455 9.07853 14.9993 9.999 14.9993C10.9195 14.9993 11.6657 15.7455 11.6657 16.666Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M16.6059 8.10939C15.8087 8.56962 14.7894 8.2965 14.3291 7.49935C13.8689 6.70219 14.142 5.68287 14.9392 5.22264C15.7363 4.7624 16.7557 5.03552 17.2159 5.83268C17.6761 6.62983 17.403 7.64915 16.6059 8.10939Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M5.05887 14.7761C4.26172 15.2363 3.2424 14.9632 2.78216 14.166C2.32193 13.3689 2.59505 12.3495 3.39221 11.8893C4.18936 11.4291 5.20868 11.7022 5.66891 12.4993C6.12915 13.2965 5.85603 14.3158 5.05887 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M14.9392 14.7761C14.142 14.3158 13.8689 13.2965 14.3291 12.4993C14.7894 11.7022 15.8087 11.4291 16.6059 11.8893C17.403 12.3495 17.6761 13.3689 17.2159 14.166C16.7557 14.9632 15.7363 15.2363 14.9392 14.7761Z" stroke="white" stroke-width="1.5"/>
                                                            <path d="M3.39221 8.10941C2.59505 7.64918 2.32193 6.62986 2.78216 5.8327C3.2424 5.03555 4.26172 4.76242 5.05887 5.22266C5.85603 5.6829 6.12915 6.70222 5.66891 7.49937C5.20868 8.29653 4.18936 8.56965 3.39221 8.10941Z" stroke="white" stroke-width="1.5"/>
                                                        </svg>
                                                    {{else}}
                                                        {{#if (eq status "NOT_FIXED")}}
                                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.30796 3.4716C9.04601 2.17613 10.9566 2.17613 11.6946 3.4716L18.0881 14.6937C18.8054 15.9527 17.8718 17.5 16.3947 17.5H3.60787C2.13085 17.5 1.19722 15.9527 1.91453 14.6937L8.30796 3.4716ZM10.8346 14.1667C10.8346 14.6269 10.4615 15 10.0013 15C9.54101 15 9.16792 14.6269 9.16792 14.1667C9.16792 13.7064 9.54101 13.3333 10.0013 13.3333C10.4615 13.3333 10.8346 13.7064 10.8346 14.1667ZM10.6263 7.5C10.6263 7.15482 10.3464 6.875 10.0013 6.875C9.65607 6.875 9.37625 7.15482 9.37625 7.5V11.6667C9.37625 12.0118 9.65607 12.2917 10.0013 12.2917C10.3464 12.2917 10.6263 12.0118 10.6263 11.6667V7.5Z" fill="white"/>
                                                            </svg>
                                                        {{else}}
                                                            {{#if (eq status "FIXED")}}
                                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0013 18.3327C14.6037 18.3327 18.3346 14.6017 18.3346 9.99935C18.3346 5.39698 14.6037 1.66602 10.0013 1.66602C5.39893 1.66602 1.66797 5.39698 1.66797 9.99935C1.66797 14.6017 5.39893 18.3327 10.0013 18.3327ZM13.828 7.88309C14.0399 7.61062 13.9908 7.21795 13.7184 7.00603C13.4459 6.79411 13.0532 6.8432 12.8413 7.11566L9.50213 11.4089C9.42788 11.5043 9.28821 11.5167 9.19831 11.4358L7.08608 9.53482C6.82951 9.30391 6.43433 9.32471 6.20342 9.58127C5.9725 9.83784 5.9933 10.233 6.24987 10.4639L8.36211 12.3649C8.99138 12.9313 9.96906 12.8446 10.4888 12.1763L13.828 7.88309Z" fill="white"/>
                                                                </svg>
                                                            {{else}}
                                                                {{#if (eq status "IN_CORRECT")}}
                                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <g clip-path="url(#clip0_2147_40397)">
                                                                            <path
                                                                                    d="M12.3544 12.3564L7.64038 7.64233M7.64037 12.3564L12.3544 7.64233M9.9974 18.3327C14.5998 18.3327 18.3307 14.6017 18.3307 9.99935C18.3307 5.39698 14.5998 1.66602 9.9974 1.66602C5.39502 1.66602 1.66406 5.39698 1.66406 9.99935C1.66406 14.6017 5.39502 18.3327 9.9974 18.3327Z"
                                                                                    stroke="currentColor"
                                                                                    stroke-width="1.5"
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                            />
                                                                        </g>
                                                                        <defs>
                                                                            <clipPath id="clip0_2147_40397">
                                                                                <rect width="20" height="20" fill="white"/>
                                                                            </clipPath>
                                                                        </defs>
                                                                    </svg>
                                                                {{else}}
                                                                    {{#if (eq status "DELETED")}}
                                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                    d="M2.5 9.99935H17.5M8.33333 5.83268H11.6667M8.33333 14.166H11.6667M14.1667 1.66602H5.83333C3.99238 1.66602 2.5 3.1584 2.5 4.99935V14.9993C2.5 16.8403 3.99238 18.3327 5.83333 18.3327H14.1667C16.0076 18.3327 17.5 16.8403 17.5 14.9993V4.99935C17.5 3.1584 16.0076 1.66602 14.1667 1.66602Z"
                                                                                    stroke="currentColor"
                                                                                    stroke-width="1.5"
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                            />
                                                                        </svg>
                                                                    {{/if}}
                                                                {{/if}}
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card__title fs-14" style="margin-bottom: 4px;">
                                {{#if (eq status "NEW")}}Новый
                                {{else}}{{#if (eq status "READ")}}Прочитано
                                {{else}}{{#if (eq status "IN_PROGRESS")}}В процессе
                                {{else}}{{#if (eq status "IN_REVIEW")}}Проверка
                                {{else}}{{#if (eq status "NOT_FIXED")}}Не устранено
                                {{else}}{{#if (eq status "FIXED")}}Устранено
                                {{else}}{{#if (eq status "IN_CORRECT")}}Ошибка
                                {{else}}{{#if (eq status "DELETED")}}Архив
                                {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                            </div>
                            <div class="card__description">
                                Замечание в статусе
                                {{#if (eq status "NEW")}}“Новый”
                                {{else}}{{#if (eq status "READ")}}“Прочитано”
                                {{else}}{{#if (eq status "IN_PROGRESS")}}“В процессе”
                                {{else}}{{#if (eq status "IN_REVIEW")}}“Проверка”
                                {{else}}{{#if (eq status "NOT_FIXED")}}“Не устранено”
                                {{else}}{{#if (eq status "FIXED")}}“Устранено”
                                {{else}}{{#if (eq status "IN_CORRECT")}}“Ошибка”
                                {{else}}{{#if (eq status "DELETED")}}“Архив”
                                {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Images + Plan -->
            <div class="d-flex mb-10">
                <div class="w-422">
                    <div class="images">
                        <div class="image">
                            {{#if beforeImageUuid}}
                                <img src="{{downloadUrl}}{{beforeImageUuid}}" alt="До"/>
                            {{/if}}
                            <div class="image__title">До</div>
                        </div>
                        <div class="image">
                            {{#if afterImageUuid}}
                                <img src="{{downloadUrl}}{{afterImageUuid}}" alt="После"/>
                            {{/if}}
                            <div class="image__title">После</div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="plan">
                        <h3 class="plan__title">Замечание на чертеже</h3>
                        <div class="plan__image">
                            <div style="position: relative; display: inline-block; height: 100%;">
                                {{#if planImageUuid}}
                                    <img src="{{downloadUrl}}{{planImageUuid}}" alt="План"/>

                                    {{> defect-marker
                                            id=id
                                            x=x
                                            y=y
                                            height=height
                                            status=status
                                            location=location
                                    }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail -->
            <div class="d-flex mb-10">
                <div style="width: 100%;">
                    <div class="detail">
                        <h3 class="detail__title">Дополнительные данные</h3>

                        <div class="detail__item">
                            <strong class="detail__item-key">Тип документа</strong>
                            <span class="detail__item-value">
                                {{#if (eq defectType "NORMAL")}}Обычный
                                {{else}}{{#if (eq defectType "CRITICAL")}}Критичный
                                {{else}}{{#if (eq defectType "RECOMMENDATION")}}Рекомендация
                                {{/if}}{{/if}}{{/if}}
                            </span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Очередь</strong>
                            <span class="detail__item-value">{{queueName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Секция</strong>
                            <span class="detail__item-value">{{sectionName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Этаж</strong>
                            <span class="detail__item-value">{{targetName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Вид работ</strong>
                            <span class="detail__item-value">{{workTypeName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Причины возникновения</strong>
                            <span class="detail__item-value">{{factorName}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Дата выявления</strong>
                            <span class="detail__item-value">{{detectedDate}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Срок</strong>
                            <span class="detail__item-value">{{dueDate}}</span>
                        </div>
                        <div class="detail__item">
                            <strong class="detail__item-key">Дата устранения</strong>
                            <span class="detail__item-value">{{resolvedDate}}</span>
                        </div>

                        <div class="numbers">
                            {{#each (range 1 10)}}
                                <div class="number{{#if (eq this ../criticalLevel)}} active{{/if}}">{{this}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div style="width: 100%;">
                    <div class="detail">
                        <h3 class="detail__title">Ответственные</h3>

                        <div class="user__item">
                            <div>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M15.8333 14.1667C15.8333 16.0077 13.2216 17.5 9.99996 17.5C6.7783 17.5 4.16663 16.0077 4.16663 14.1667C4.16663 12.3258 6.7783 10.8334 9.99996 10.8334C13.2216 10.8334 15.8333 12.3258 15.8333 14.1667Z"
                                            fill="#5957D7"
                                            opacity="0.4"
                                    />
                                    <path
                                            d="M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99996 9.16667C8.15901 9.16667 6.66663 7.67428 6.66663 5.83333C6.66663 3.99238 8.15901 2.5 9.99996 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z"
                                            fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{technical.fullName}}</h4>
                                <p class="user__item-key">Технадзор</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{technical.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>

                        <div class="user__item">
                            <div>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M15.8333 14.1667C15.8333 16.0077 13.2216 17.5 9.99996 17.5C6.7783 17.5 4.16663 16.0077 4.16663 14.1667C4.16663 12.3258 6.7783 10.8334 9.99996 10.8334C13.2216 10.8334 15.8333 12.3258 15.8333 14.1667Z"
                                            fill="#5957D7"
                                            opacity="0.4"
                                    />
                                    <path
                                            d="M13.3333 5.83333C13.3333 7.67428 11.8409 9.16667 9.99996 9.16667C8.15901 9.16667 6.66663 7.67428 6.66663 5.83333C6.66663 3.99238 8.15901 2.5 9.99996 2.5C11.8409 2.5 13.3333 3.99238 13.3333 5.83333Z"
                                            fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{foreman.fullName}}</h4>
                                <p class="user__item-key">Прораб</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{foreman.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>

                        <div class="user__item">
                            <div>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.16797 1.29167C7.13243 1.29167 6.29297 2.13114 6.29297 3.16667V4.00001C6.29297 4.34518 6.01315 4.62501 5.66797 4.62501C5.32279 4.62501 5.04297 4.34518 5.04297 4.00001V3.16667C5.04297 1.44078 6.44208 0.0416718 8.16797 0.0416718H9.83464C11.5605 0.0416718 12.9596 1.44078 12.9596 3.16667V4.00001C12.9596 4.34518 12.6798 4.62501 12.3346 4.62501C11.9895 4.62501 11.7096 4.34518 11.7096 4.00001V3.16667C11.7096 2.13114 10.8702 1.29167 9.83464 1.29167H8.16797Z"
                                        fill="#5957D7"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    />
                                    <path
                                        d="M0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333V14C17.3346 15.841 15.8423 17.3333 14.0013 17.3333H4.0013C2.16035 17.3333 0.667969 15.841 0.667969 14V7.33333Z"
                                        fill="#5957D7"
                                        opacity="0.4"
                                    />
                                    <path
                                        d="M4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333C17.3346 7.33333 15.4563 9.17145 10.7154 9.44298C10.4516 9.45808 10.235 9.25077 10.1146 9.01559C9.90755 8.61128 9.48674 8.33456 9.0013 8.33456C8.53351 8.33456 8.12574 8.59153 7.91143 8.972C7.78222 9.2014 7.55876 9.39913 7.29652 9.37559C2.54409 8.949 0.667969 7.33333 0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4Z"
                                        fill="#5957D7"
                                    />
                                    <rect
                                        x="8.375"
                                        y="9"
                                        width="1.25"
                                        height="2.32836"
                                        rx="0.625"
                                        fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{contractor.name}}</h4>
                                <p class="user__item-key">Генподрядчик</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{contractor.user.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>

                        <div class="user__item" style="border-bottom: none;">
                            <div>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.16797 1.29167C7.13243 1.29167 6.29297 2.13114 6.29297 3.16667V4.00001C6.29297 4.34518 6.01315 4.62501 5.66797 4.62501C5.32279 4.62501 5.04297 4.34518 5.04297 4.00001V3.16667C5.04297 1.44078 6.44208 0.0416718 8.16797 0.0416718H9.83464C11.5605 0.0416718 12.9596 1.44078 12.9596 3.16667V4.00001C12.9596 4.34518 12.6798 4.62501 12.3346 4.62501C11.9895 4.62501 11.7096 4.34518 11.7096 4.00001V3.16667C11.7096 2.13114 10.8702 1.29167 9.83464 1.29167H8.16797Z"
                                        fill="#5957D7"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    />
                                    <path
                                        d="M0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333V14C17.3346 15.841 15.8423 17.3333 14.0013 17.3333H4.0013C2.16035 17.3333 0.667969 15.841 0.667969 14V7.33333Z"
                                        fill="#5957D7"
                                        opacity="0.4"
                                    />
                                    <path
                                        d="M4.0013 4H14.0013C15.8423 4 17.3346 5.49238 17.3346 7.33333C17.3346 7.33333 15.4563 9.17145 10.7154 9.44298C10.4516 9.45808 10.235 9.25077 10.1146 9.01559C9.90755 8.61128 9.48674 8.33456 9.0013 8.33456C8.53351 8.33456 8.12574 8.59153 7.91143 8.972C7.78222 9.2014 7.55876 9.39913 7.29652 9.37559C2.54409 8.949 0.667969 7.33333 0.667969 7.33333C0.667969 5.49238 2.16035 4 4.0013 4Z"
                                        fill="#5957D7"
                                    />
                                    <rect
                                        x="8.375"
                                        y="9"
                                        width="1.25"
                                        height="2.32836"
                                        rx="0.625"
                                        fill="#5957D7"
                                    />
                                </svg>
                            </div>
                            <div style="margin-right: auto">
                                <h4 class="user__item-value">{{subContractor.name}}</h4>
                                <p class="user__item-key">Субподрядчик</p>
                            </div>
                            <div>
                                <h4 class="user__item-value">{{subContractor.user.phone}}</h4>
                                <p class="user__item-key" style="text-align: right;">Телефон</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Info -->
            <div class="info">
                <div class="info__item">
                    <h4 class="info__item-title">Описание</h4>
                    <p class="info__item-description">{{description}}</p>
                </div>
                <div class="info__item">
                    <h4 class="info__item-title">Мероприятия по устранению</h4>
                    <p class="info__item-description">{{measures}}</p>
                </div>
            </div>

            <!-- Images + Users -->
            <div style="page-break-after: always;">
                <!-- Images -->
                <div class="d-flex mb-20" style="flex-wrap: wrap;">
                    {{#each (fillImages beforeImageUuids 4)}}
                        <div class="before__image">
                            {{#if this}}
                                <img src="{{../downloadUrl}}{{this}}" alt="Before image"/>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>

                <div class="mb-20" style="text-align: center; font-weight: 600; color: #18181C;">
                    Данное предписание в случае невыполнения нарушений будет служить основанием для ведения претензионной работы со стороны Заказчика!
                </div>

                <!-- Users -->
                <div class="d-flex">
                    <div class="w-422" style="padding-right: 60px;">
                        <h3 class="user__title">Выдал замечание</h3>
                        <div class="user__item">
                            <h4 class="user__item-value">Отчет составил ОТН</h4>
                            <h4 class="user__item-value">{{technical.fullName}}</h4>
                        </div>
                    </div>
                    <div class="w-full">
                        <h3 class="user__title">Принял замечание</h3>
                        <div class="d-flex" style="column-gap: 50px;">
                            <div style="width: 100%;">
                                <div class="user__item">
                                    <div>
                                        <h4 class="user__item-value">{{contractor.name}}</h4>
                                        <p class="user__item-key">Генподрядчик</p>
                                    </div>
                                    <div>
                                        <h4 class="user__item-value">{{contractor.user.fullName}}</h4>
                                        <p class="user__item-key" style="text-align: right;">Ф.И.О</p>
                                    </div>
                                </div>
                                <div class="user__item">
                                    <div>
                                        <h4 class="user__item-value">{{subContractor.name}}</h4>
                                        <p class="user__item-key">Субподрядчик</p>
                                    </div>
                                    <div>
                                        <h4 class="user__item-value">{{subContractor.user.fullName}}</h4>
                                        <p class="user__item-key" style="text-align: right;">Ф.И.О</p>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;">
                                <div class="user__item">
                                    <h4 class="user__item-value">РП объекта</h4>
                                    <h4 class="user__item-value">{{manager.fullName}}</h4>
                                </div>
                                <div class="user__item">
                                    <h4 class="user__item-value">ЗРП объекта</h4>
                                    <h4 class="user__item-value">{{managerAssistant.fullName}}</h4>
                                </div>
                                <div class="user__item">
                                    <h4 class="user__item-value">Прораб объекта</h4>
                                    <h4 class="user__item-value">{{foreman.fullName}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comments -->
            {{#if comments.length}}
                <div class="comments">
                    {{#each comments}}
                        <div class="comment {{#if (eq this.createdById @root.userId)}}comment--reverse{{/if}}">
                            <div class="comment__avatar">
                                {{#if this.createdByPhotoUuid}}
                                    <img class="comment__image" src="{{@root.downloadUrl}}{{this.createdByPhotoUuid}}" alt="{{this.createdByName}}" />
                                {{else}}
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path
                                                d="M15.467 16.2907C14.6391 14.0765 12.5043 12.5 10.0013 12.5C7.49828 12.5 5.36347 14.0765 4.53561 16.2907M15.467 16.2907C17.2239 14.7629 18.3346 12.5112 18.3346 10C18.3346 5.39765 14.6037 1.66669 10.0013 1.66669C5.39893 1.66669 1.66797 5.39765 1.66797 10C1.66797 12.5112 2.77867 14.7629 4.53561 16.2907M15.467 16.2907C14.0039 17.5631 12.0925 18.3334 10.0013 18.3334C7.91007 18.3334 5.99875 17.5631 4.53561 16.2907"
                                                stroke="#5957D7"
                                                stroke-width="1.5"
                                                stroke-linejoin="round"
                                            />
                                            <circle
                                                cx="2.5"
                                                cy="2.5"
                                                r="2.5"
                                                transform="matrix(1 0 0 -1 7.5 10)"
                                                stroke="#5957D7"
                                                stroke-width="1.5"
                                                stroke-linejoin="round"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2007_28181">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                {{/if}}
                            </div>

                            <div class="comment__content">
                                <div class="comment__header">
                                    <div class="comment__name">{{this.createdByName}}</div>
                                    <div class="comment__date">{{this.createdAt}}</div>
                                </div>
                                <div class="comment__message">{{this.message}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            <!-- Histories -->
            {{#if histories.length}}
                <div class="histories">
                    <h3 class="detail__title mb-10">История изменений</h3>

                    {{#each histories}}
                        <div class="history">
                            <div class="history__key">{{this.action}}</div>
                            <div class="history__right">
                                <div class="history__value">{{this.createdByName}}</div>
                                <div class="history__value">{{this.createdAt}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </body>
</html>
